
@import url(https://fonts.googleapis.com/css?family=Arimo);
@import url(https://fonts.googleapis.com/css?family=Oxygen);


header {
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 4px;
	width: 98%;
	padding: 10px;
	background-color: #3b50ce;	
	/* color: #e7e9fd; */
	color: #ffffff;
	z-index: 1;
	border-radius: 8px;
	-moz-border-radius: 8px;
}

header h1 {
	font-family: 'Arimo', sans-serif;
	z-index: 30;
}

header p, body {
	font-family: 'Oxygen', sans-serif;
	font-size: small;
}


header img {
	opacity: 0.06;
	z-index: 3;
	position: absolute;
	float: right;
	left: 30%;
	top: 0px;
	transform: scale(2.45, 0.7);
	-moz-transform: scale(2.45, 0.7);
}

fieldset {
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

table {
	width: 99%;
	margin: 4px;
}

table td {
	padding: 4px;
}

thead {
	background-color: #006064;
	color: #ffffff;
}

tbody tr:nth-child(even) {
	background-color: #b2dfdb;
}

tbody tr:nth-child(odd) {
	background-color: #e0f2f1;
}

div.container {
	width: 100%;
}

.selected {
	background-color: #03A9F4;
	color: #ffffff;
}

.dyn-selectable-table tbody {
	cursor: pointer;
}

.message-box {
	padding: 4px;
	margin: 4px;
	background-color: #fff59d;
	color: #3e2723;
	border-radius: 8px;
	-moz-border-radius: 8px;
}

.on-screen-tips {
	font-size: small;
	color: #F44336;
	padding: 4px;
	margin: 4px;
}

#taskBarDiv {
	padding: 4px;
	margin: 4px;
	position: absolute;
	top: 6%;
	left: 30%;
	z-index: 29;
}

#searchDiv {
	padding: 4px;
	margin: 4px;
	position: absolute;
	left: 70%;
	top: 6%;
	z-index: 29;
	border-width: 1px;
	border-style: solid;
	border-color: #e7e9fd;
	width: 330px;
	border-radius: 8px;
	-moz-border-radius: 8px;
}

#searchVisitQueryField {
	height: 23px;
	width: 72%;
	border-radius: 8px;
	-moz-border-radius: 8px;
}

#visitRecordsTable tbody {
	cursor: pointer;
}

:disabled {
	background-color: #B6B6B6;
	color: #607D8B;
}
